h3{
    color: #FFBA6C;
}

body {
    background-color: #000127;
}

p{
    color: white;
}

hr{
    border: 0;
    height: 1px;
    background: #FFBA6C;
    background-image: linear-gradient(right, #000127, #FFBA6C,  #000127);
    width: 50%;
}
.projects {
    padding: 5%;
}

.contact {
    padding: 5%;
}

.orange{
    color: #FFBA6C;
}

.head {
    margin-top: 5%;
    margin-bottom: 30%;
}

.skills {
    border-radius: 25px;
    color: white;
    padding: 5%;
}

.bg{
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000127;
}

.gallery {
    padding: 25px;
    width:100%;
}

.gallery img{
    width: 100%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }